.App {
  text-align: center;
  background-color: rgb(15, 1, 55);
}

a {
  color: white;
  text-decoration: none;
  
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
  background-color: rgb(8, 8, 73);
  height: auto;
}

.hero {
  display: flex;
  justify-content: space-around;
   /* text-align: center; */
   color: white;
   width: 100%;
   background-image: url("./assets/worldcupbg.webp");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   height: 300px;
  
}

.hero-text {
  text-align: left;
  width: 80%;
}

.hero-button {
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(15, 15, 113);
}

.total-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
gap: 10px;
}

.total-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  box-shadow: 2 12 12 black;
  width: 100%;
  gap: 15px;

}

.total-icon {
font-size: 60px;
}

.upcoming-matches {
  width: 70%;
}

.total-text {

}